@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: white;
  min-width: 320px;
  min-height: 100vh;
  font-family: Yekan, sans-serif !important;
}

@font-face {
  font-family: "Yekan";
  src: local("Yekan"), url(./fonts/Yekan.ttf) format("truetype");
}
@font-face {
  font-family: "Iran-Sans";
  src: local("Iran-Sans"), url(./fonts/Iranian-Sans.ttf) format("truetype");
}
.btn {
  color: white;
  background-color: #535bf2;
  padding: 6px;
  width: 70px;
  border-radius: 50px;
  cursor: pointer;
}
.btn span {
  position: relative;
  top: 1px;
}
.m-btn {
  font-family: Yekan, sans-serif !important;
  font-size: 1.1rem !important;
}
a {
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #cecece;
}
body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgb(28, 57, 100);
  border-radius: 100px;
}
