.signin-logo {
  filter: hue-rotate(50deg);
}
.login-form-container {
  border-radius: 20px;
  box-shadow: 4px -2px 15px 4px rgba(0, 0, 46, 0.06) !important;
}
.home-btn {
  position: relative;
  top: 20px;
  left: 20px;
}
.wrong-info {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
}
.right-info {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
}
