.branch-items-container > div {
  background-color: rgba(234, 235, 237, 0.77);
  border-radius: 20px;
}
.branch-items-container {
  width: 80% !important;
  position: absolute;
  left: 0;
}
.branch-title {
  font-size: 1.3rem;
  text-align: end;
  margin: 20px;
}
.branch-item {
  width: 80px;
}
p {
  font-family: Yekan, sans-serif !important;
}
