.password-container {
  display: flex;
  justify-content: center;
}
.password-btn-container {
  width: 190px;
  margin: auto !important;
}
.password-container div {
  margin: 30px;
}
.password-wrapper {
  margin-left: 5%;
  width: 70%;
  margin-top: 130px !important;
  background-color: #e1e9ef;
  padding: 20px;
  border-radius: 10px;
}
.wrong-password {
  width: 30%;
  margin-left: 35%;
}
.right-password {
  width: 30%;
  margin-left: 35%;
}

.password-btn {
  margin: auto !important;
  margin-left: 20px !important;
  margin-top: 40px !important;
}
